body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: $color-font-default;
  background-color: $color-bcg-body;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 10px;
}



