$color-font-default: #292D32;
$color-font-dark: #000000;
$color-font-aside: #9197B3;
$color-font-vesrion: #838383;
$color-font-thead: #B5B7C0;
$color-font-user-role: #757575;
$color-font-aside-active: #FFFFFF;
$color-font-subtitle: #16C098;

$color-bcg-body: #FAFBFF;
$color-bcg-primery: #FFFFFF;

$color-font-active: #008767;
$color-border-active: #00B087;

$color-font-inactive: #DF0404;
$color-bcg-inactive: #FFC5C5;

$color-bcg-search: #F9FBFF;

$color-item-active: #5932EA;

$color-pagination-border: #EEEEEE;
$color-pagination-bcg: #F5F5F5;
$color-pagination-font: #404B52;


